.ColorList {
  text-align: center;
}

.ColorList-header {
  height: 150px;
  padding: 20px;
  text-align: center;
}

.ColorList-title {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}
